.playable-buttons {
    padding-bottom: 5px;
    padding-left: 26px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: right;
    width: 100%;
}

.playable-canvas {
    border-bottom-color: rgb(77, 78, 83);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(77, 78, 83);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(77, 78, 83);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(77, 78, 83);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: solid;
    border-top-width: 1px;
}

.playable-code {
    background-color: rgb(244, 247, 248);
    border-bottom-color: rgb(77, 78, 83);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(85, 138, 187);
    border-left-style: solid;
    border-left-width: 6px;
    border-right-color: rgb(77, 78, 83);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(77, 78, 83);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(77, 78, 83);
    height: 100%;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.left {
    padding: 20px;
    float: left;
    width: 40%;
    /* The width is 20%, by default */
}

.main {
    padding: 20px;
    float: left;
    width: 60%;
    /* The width is 60%, by default */
}

.right {
    background-color: #4CAF50;
    padding: 20px;
    float: left;
    width: 20%;
    /* The width is 20%, by default */
}


/* Use a media query to add a break point at 800px: */

@media screen and (max-width:800px) {
    .left,
    .main,
    .right {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
}